Flask==0.10
Jinja2==2.7
chardet==3.0.4
cssselect==0.9
lxml==4.3.3
pycurl==7.43.0.3
requests==2.24.0
Flask-Login==0.2.11
u-msgpack-python==1.6
click==3.3
six==1.10.0
tblib==1.4.0
wsgidav==2.4.1
tornado>=3.2,<=4.5.3
pyquery==1.4.0
dataclasses==0.8
werkzeug==0.16.0
itsdangerous==1.1.0
markupsafe==2.0.1
selenium==3.141.0

